nav {
  margin-bottom: 20px;
}

#mobile-demo {
  background-image: url("../images/brickwall/brickwall.png");
  background-repeat: repeat;
}

#biopic {
  width: 60%;
}

.sidenav-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Cantata One', serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card {
  margin: 20px !important;
}

.card-panel {
  background: rgba(255, 255, 255, 0.4) !important;
}

p {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: #0d47a1;
  font-size: 5vw;
}

.card-title {
  background: rgba(9, 21, 241, 0.4);
  width: 100%;
}

.card-float:hover {
  outline: none !important;
  border-color: #0091ea;
  box-shadow: 0 0 40px #0091ea;
  transform: scale(1.05);
}

.input-field label {
  color: #000 !important;
}

.input-field input:focus + label, .materialize-textarea:focus + label {
  color: #0d47a1 !important;
}

.input-field input:focus, .materialize-textarea:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
 }

.input-field input.valid {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}

.input-field .prefix.active {
  color: #0d47a1 !important;
}

#submit {
  margin-left: 40px;
}

.card-action a {
  color: #0091ea !important;
}

@media (max-width: 600px) {
  .nav-wrapper .brand-logo {
    font-size: 21px;
  }
  .card-title {
    font-size: 4vw !important;
  }
}
